<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709618578067-jj8ejk2bht2i3qb9aqjicp3mhabjli7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709618578067-jj8ejk2bht2i3qb9aqjicp3mhabjli7s</string>
	<key>API_KEY</key>
	<string>AIzaSyBLXc5SUiIFFeDffz1fZqSNyxMHYBhh2VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>709618578067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cast4.AnoteTudo</string>
	<key>PROJECT_ID</key>
	<string>anote-tudo-beb70</string>
	<key>STORAGE_BUCKET</key>
	<string>anote-tudo-beb70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709618578067:ios:f74bde49df6f6dfd</string>
	<key>DATABASE_URL</key>
	<string>https://anote-tudo-beb70.firebaseio.com</string>
</dict>
</plist>